<title>Taskworks</title>
<link rel="stylesheet" href="/code/account/css/style.css">
<link rel="shortcut icon" href="/favicon.ico?v=1.1">
<div id="container">
    <% if(messages.error) { %>
        <p id="error">*<%= messages.error %>*</p>
    <% } %>
    <h1>Login</h1>
    <form action="/login" method="POST">
        <table>
            <tr>
                <td> <label for="username">Username:</label> </td>
                <td> <input type="text" id="username" name="username" required> </td>
            </tr>
            <tr>
                <td> <label for="password">Password:</label> </td>
                <td> <input type="password" id="password" name="password" required> </td>
            </tr>
        </table>
        <button type="submit">Login</button>
    </form>
    <a href="/register">Register</a>

</div>
