:root {
  --major-primary-colour: goldenrod;
  --major-secondary-colour: rgb(128, 35, 35);
  --minor-primary-colour: maroon;
  --minor-secondary-colour: rgb(255, 200, 200);
  /*--contrast-primary-colour: rgb(150, 150, 150);*/
  --contrast-secondary-colour: rgb(230, 230, 230);
  --heading-text-size: 1.5em;
  --task-width: 17em;
}

body {
  background-color: rgb(128, 35, 35);
}

table * {
  font-weight: bold;
}

button {
  text-align: center;
  border: 0em;
  font: inherit;
  line-height: 1;
}

button:hover,
button:focus {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
}

#newListButton {
  color: var(--major-secondary-colour);
  background-color: var(--major-primary-colour);
  font-weight: bold;
  font-size: var(--heading-text-size);
  margin: 0.5em;
  box-sizing: border-box;
  padding: 0.5em 2em;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}

table.list {
  background-color: var(--minor-secondary-colour);
  float: left;
  margin: 0.5em;
  border: 0.4em solid black;
  border-spacing: 0.4em;
}

table.list > thead > button.title {
  color: var(--minor-primary-colour);
  /*background-color: var(--minor-secondary-colour);*/
  background-color: transparent;
  font-size: var(--heading-text-size);
  width: 100%;
}

table.list tr.newTaskRow td {
  text-align: center;
  display: block;
  margin: auto;
}

table.list tr.newTaskRow button {
  color: var(--major-primary-colour);
  background-color: var(--major-secondary-colour);
  margin: 0.5em;
  padding: 1em 2em;
}

table.task {
  background-color: var(--contrast-secondary-colour);
  table-layout: auto;
  width: var(--task-width);
  border: 0.3em solid black;
}

table.task button.editTaskButton {
  color:white;
  background-color: black;
  float: right;
  margin-bottom: -100% + 0.5em;
  font-size: 0.7em;
}

table.task table.labelTable {
  border-spacing: 0.3em;
  table-layout: fixed;
  
  /* Flex stuff */
  display: flex;
  flex-flow: wrap;
  column-gap: 0.3em;
  row-gap: 0.3em;
  width: var(--task-width) - 4; /* {<<<} */
}

table.task td.label {
  color: var(--minor-primary-colour);
  background-color: var(--minor-secondary-colour);
  border: 0.4em solid;
  font-size: 0.9em;
  vertical-align: middle;
  padding: 0.1em;

  /* Adds elipses when text overflows the fixed width located at {<<<} */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

table.task td.title {
  color: var(--minor-primary-colour);
  font-size: 1.2em;
}

table.task td.dates {
  font-size: 1em;
}

table.task td.config {
  font-size: 0.8em;
  font-style: italic;
}

#uiContainer {
  position: fixed;
  bottom: 0em;
  right: 0em;
  display: flex;
  align-items: flex-end;
}

.formPopup {
  display: none;
  border: 3px solid black;
  z-index: 9;
  margin: 0.5em;
}

.formContainer {
  max-width: 23em;
  padding: 0.5em;
  background-color: var(--minor-secondary-colour);
}

.formContainer input[type=text] {
  width: 92%;
  padding: 1em;
  margin: 0.3em 0 1.2em 0;
  border: none;
  background: var(--contrast-secondary-colour);
  /*font-size: 0.9em;*/
}

.formContainer h1 {
  color: var(--major-primary-colour);
  background-color: var(--major-secondary-colour);
  text-align: center;
  padding: 0.3em;
}

.formContainer .header {
  color: var(--minor-primary-colour);
  font-weight: bold;
  font-size: 1.1em;
}

.formContainer input[type=text]:focus {
  background-color: #ddd;
  outline: none;
}

.formContainer button.editLabel {
  background-color: transparent;
}

.formContainer button.submit {
  background-color: var(--major-secondary-colour);
  color: white;
  padding: 1em 1.2em;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 0.7em;
}

.formContainer button.cancel {
  background-color: var(--major-primary-colour);
}