:root {
    /* Variables */
    --primary-colour: rgb(128, 35, 35);
    --secondary-colour: rgb(255, 175, 175);
    --border-colour: black;
    --high-contrast-colour: black;
    --contrast-colour: rgb(230, 230, 230);
    
    --heading-text-size: 1.4em;
    --task-width: 17em;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    word-break: break-word;
}


body {
    background-color: var(--primary-colour);
    margin: 0.6em;
}

table * {
    font-weight: bold;
}

button {
    text-align: center;
    border: 0;
    font-size: inherit;
    line-height: 1;
}

button:hover,
button:focus {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0 0);
    cursor: pointer;
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--high-contrast-colour);
}
::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
    cursor: pointer;
}

hr {
    background-color: var(--border-colour);
    border-width: 0;
    height: 0.3em;
}

#welcome {
    color: var(--secondary-colour);
}

#uiContainer {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: 1em;
}

#logOut {
    color: var(--primary-colour);
    background-color: var(--contrast-colour);
    margin: 0.5em;
    padding: 0.5em 1em;
    font-weight: bold;
}

#viewLink {
    color: var(--secondary-colour);
    vertical-align: middle;
}

#listConfigDiv * {
    color: var(--primary-colour);
    background-color: var(--secondary-colour);
    font-weight: bold;
    font-size: var(--heading-text-size);
    margin: 0.5em;
    box-sizing: border-box;
    width: 10em;
    height: 2em;
}

.alignLeft {
    text-align: left;
}

.alignRight {
    text-align: right;
}

.list {
    background-color: var(--secondary-colour);
    float: left;
    margin: 0.5em;
    border: 0.3em solid var(--border-colour);
    border-spacing: 0.4em;
    max-width: calc(var(--task-width) + 1.2em);
}

.list > thead > .title {
    color: var(--primary-colour);
    background-color: transparent;
    font-size: var(--heading-text-size);
    width: 100%;
}

.list .newTaskRow td {
    text-align: center;
    display: block;
    margin: auto;
}

.list .newTaskRow button {
    color: var(--secondary-colour);
    background-color: var(--primary-colour);
    margin: 0.5em;
    font-size: 1.3em;
    padding: 0.7em 1.4em;
}

.list .checkedTable {
    display: none;
}

.list .showCheckedRow td {
    text-align: center;
    display: block;
    margin: auto;
}

.list .showCheckedRow button {
    color: var(--secondary-colour);
    background-color: var(--primary-colour);
    margin: 0.5em;
    margin-top: 0;
    padding: 0.3em;
}

.task {
    background-color: var(--contrast-colour);
    border-collapse: collapse;
    table-layout: auto;
    max-width: var(--task-width);
    border: 0.2em solid var(--border-colour);
}

.task td  {
    padding: 0.2em;
}

.task.checked {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
}

.task.checked .title td, .task.checked .dates td, .task.checked .config td {
    color: black;
    text-decoration: line-through;
}

.task.checked .dates {
    /* Reset upcoming/overdue CSS if the task is checked (!important allows it to override) */
    background-color: transparent !important;
    color: black !important;
}

.task.upcoming .dates {
    background-color: yellow;
    color: black;
}

.task.overdue .dates {
    background-color: maroon;
    color: goldenrod;
}


.task .editTaskButton {
    color:white;
    background-color: var(--high-contrast-colour);
    float: right;
    /*margin-bottom: -100% + 0.5em;*/
    font-size: 0.6em;
}

.task .doneTaskBox {
    float: right;
    margin-right: 0.5em;
}

.task .labelTable {
    border-spacing: 0.3em;
    table-layout: fixed;

    /* Flex stuff */
    display: flex;
    flex-flow: wrap;
    column-gap: 0.3em;
    row-gap: 0.3em;
    width: calc(var(--task-width) - 4em); /* {<<<} */
}

.task .label {
    color: var(--primary-colour);
    background-color: var(--secondary-colour);
    border: 0.25em solid;
    font-size: 0.8em;
    vertical-align: middle;
    padding: 0.1em;

    /* Adds elipses when text overflows the fixed width located at {<<<} */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.task .title td {
    color: var(--primary-colour);
    font-size: 1em;
    word-break: break-word;
}

.task .dates td {
    font-size: 0.85em;
}

.task .config td {
    font-size: 0.7em;
    font-style: italic;
}

#editorContainer {
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
}

.formPopup {
    display: none;
    border: 0.3em solid var(--border-colour);
    z-index: 9;
    margin: 0.5em;
}

.formContainer {
    padding: 0.5em;
    overflow-y: auto;
    width: 23em;
    max-height: calc(100vh - 7em);
    background-color: var(--secondary-colour);
}

.formContainer input, textarea, select {
    box-sizing: border-box; /* fixes width 100% exceeding parent width problem*/
    background: var(--contrast-colour);
    border: 0.1em solid var(--border-colour);
    padding: 0.1em;
}

.formContainer input, textarea, select, .editLabelContainer {
    font-size: 0.8em;
}

.formContainer input[type=text] {
    background: var(--contrast-colour);
    width: 100%;
    margin: 0.3em 0 1.2em 0;
}

.formContainer input[type=text]:focus {
    background-image: linear-gradient(rgba(0, 0, 0, 0.03) 0 0);
}

.formContainer input[type=date] {
    
    width: 100%;
}

.formContainer select, textarea {
    width: 100%;
}

.formContainer h1 {
    color: var(--secondary-colour);
    background-color: var(--primary-colour);
    text-align: center;
    padding: 0.3em;
}

.formContainer .header {
    color: var(--primary-colour);
    font-weight: bold;
    font-size: 1em;
}

.formContainer #labelListDiv {
    display: flex;
    flex-wrap: wrap;
}

.formContainer .editLabel {
    background-color: transparent;
}

.formContainer .editLabelContainer {
    width: fit-content;
}

.formContainer .submit {
    background-color: var(--primary-colour);
    color: var(--contrast-colour);
    padding: 1em 1.2em;
    width: 100%;
    border: none;
    cursor: pointer;
    margin-bottom: 0.7em;
}

.formContainer .secondary {
    background-color: var(--contrast-colour);
    color: var(--primary-colour);
}