:root {
    /* Variables */
    --primary-colour: rgb(128, 35, 35);
    --secondary-colour: rgb(255, 175, 175);
    --border-colour: black;
    --high-contrast-colour: black;
    --contrast-colour: rgb(230, 230, 230);
    
    --heading-text-size: 1.4em;
    --task-width: 13vw;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    word-break: break-word;
}


body {
    background-color: var(--primary-colour);
    margin: 0.6em;
}

table * {
    font-weight: bold;
}

button {
    text-align: center;
    border: none;
    font-size: inherit;
    line-height: 1;
}

button:hover,
button:focus {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
    cursor: pointer;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--high-contrast-colour);
}
::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1) 0 0);
    cursor: pointer;
}

hr {
    background-color: var(--border-colour);
    border-width: 0;
    height: 0.3em;
}

#welcome {
    color: var(--secondary-colour);
}


#uiContainer {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: 1em;
}

#logOut {
    color: var(--primary-colour);
    background-color: var(--contrast-colour);
    margin: 0.5em;
    padding: 0.5em 1em;
    font-weight: bold;
}

#viewLink {
    color: var(--secondary-colour);
    vertical-align: middle;
}

#calendarContainer {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    /* make-do vertical center code
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);*/
}

.calendarBackground {
    background-color: black;
    width: 100%;
}

#monthHeader {
    color: var(--secondary-colour);
    text-align: center;
    margin-top: 0.1em;
    margin-bottom: 0.2em;
}

#calendarTable {
    border-spacing: 0.35em;
}

#calendarTable td {
    height: 1em;
    padding: 0;
}

.dotwHeader {
    color: var(--secondary-colour);
    font-size: 1.5em;
    text-align: center;
}

.day {
    background-color: var(--secondary-colour);
    height: 100%;
    width: 100%;
    min-height: 8em;
    min-width: var(--task-width);

    /* Fixes task gap issue which was vertically centering tasks */
    display: grid;
    grid-auto-rows: min-content;
}

.day h1 {
    color: var(--primary-colour);
    text-align: left;
    font-size: 1.4em;
    margin-top: 0.3em;
    margin-bottom: 0.1em;
}

.day.today {
    background-color: rgb(253, 201, 114);
}

.day.filler {
    opacity: 70%;
}

.task {
    background-color: var(--contrast-colour);
    border: 0.2em solid var(--border-colour);
    width: var(--task-width);
    margin: 0.1em;
}

.task * {
    margin: 0.1em; 
}

.task.listChecked {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
    text-decoration: line-through;
}

.task.dayChecked {
    background-image: linear-gradient(rgba(0, 0, 0, 0.15) 0 0);
    text-decoration: line-through;
}

.task.listChecked *, .task.dayChecked * {
    /* Reset upcoming/overdue CSS if the task is checked (!important allows it to override) */
    color: black !important;
}

.day.overdue .task * {
    color: rgb(225, 0, 0);
}

.task .titleCol {
    max-width: calc(var(--task-width) - 2em);
}

.task .titleCol * {
    font-size: 0.75em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.task .titleCol:hover {
    cursor: pointer;
}

.task .buttonCol {
    width: auto;
    float: right;
    margin-top: -1em; /* bring it to the same line as title */
}

.task:not(.listChecked) .buttonCol *:hover {
    cursor: pointer;
}

/* The Modal (background) */
#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: black; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content */
#modalContent {
    background-color: var(--contrast-colour);
    margin: auto;
    padding: 1em;
    border: 0.1em solid var(--border-colour);
    width: 30%;
}
  
/* The Close Button */
#close {
    color: var(--high-contrast-colour);
    float: right;
    font-size: 2em;
    font-weight: bold;
}
  
#close:hover,
#close:focus {
    text-decoration: none;
    cursor: pointer;
}